.Black {
    background-color: black;
    color:white;
}

.Green {
    background-color:  lightgreen;
}

.Yellow {
    background-color:  rgb(255, 255, 116);
}

.fixedHeightTable {
    height:700px;
}