.majorGiftsHeaderTable {
    margin-top:20px;
    margin-left:648px;
}

.aqua {
    background-color: aqua;
}

.categoryBox {
    height:80px;
    border:2px solid black;
}

.categoryCode {
    width:136px;
    border:2px solid black;
    font-weight: bold;
    text-align: center;
}

.categoryCodeItem {
    width:508px;
    border:2px solid black;
    font-weight: bold;
    color:red;
    justify-content: flex-end;
    align-items: center;
}
.noRightBorder{
    border-right: none;
}
.backgroundAqua {
    background-color: aqua !important;
}

.backgroundPeach {
    background-color:peachpuff;
}

.noLeftBorder {
    border-left: 0px !important;
}

.headerKeys {
    width:175px;
    display: inline-block;
}

.majorGiftContent {
    height: 570px;
    border: 2px solid black;
    overflow-y: scroll;
}