.header {
    border:none;
    width:500px !important
}

.takeStepsContent{
    height: 600px;
    border: 2px solid black;
    overflow-y: scroll;
    /* overflow-x: scroll; */
    /* z-index:200000 */
}

.black{
    color:black;
    background-color: black;
}

.tabs{
    margin-top: 50px;
    margin-left: 1700px;
}

.orange,.orange:hover{
    background-color: orange !important;
}

.aqua,.aqua:hover {
    background-color: aqua !important;
}