* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.home,
.services,
.products,
.contact-us,
.sign-up,
.marketing,
.consulting {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.services {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('./images/img-3.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-image: url('./images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.marketing {
  background-image: url('./images/img-6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.consulting {
  background-image: url('./images/img-5.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.heading {
  margin: 4px;
}

.subHeading {
  margin: 4px;
}

.MuiDataGrid-cell{
  border:1px solid black !important;
}

.MuiDataGrid-columnHeaders{
  border:1px solid black !important;
}
.flex{
  display: flex;
}
.flexCenter {
  display:flex;
  align-items: center;
  justify-content: center;
}

.backgroundYellowGreen{
  background-color: yellowgreen;
}

.backgroundYellow{
  background-color: rgb(234, 234, 25);
}

.pageMiddleHeading {
  text-align: center;
  margin-bottom: 12px;
}

.mt-8{
  margin-top: 8px;
}

.spin4_heading_grey {
  background-color: lightgray;
  border: 2px solid black;
  font-style: italic
}

.spin4_heading {
  border: 2px solid ;
}


.bg_green {
  background-color:yellowgreen;
  border:2px solid black;
  font-style: bold;
  font-size: large;
}

.bg_green_header {
  background-color:yellowgreen;
  /* border:2px solid black; */
  font-style: bold;
  font-size: large;
}


.bg_gray {
  border:2px solid black;
  font-style: bold;
  font-size: large;
}

.bg_darkGray {
  background-color:gray;
}

.blackAndWhite{
  background-color: black;
  color: white;
}
.blue{
  background-color: darkblue;
  color: darkblue;
}

.blueAndWhite{
  background-color: darkblue;
  color: white;
}

.mediumFontSize{
  font-size: 18px;
  font-style: bold;
}

.bigFontSize{
  font-size: 28px;
  font-style: bold;
}

.peach{
  background-color: peachpuff;
}

.border {
  border: 2px solid black;
}

.noBorder {
  border:none !important;
}

.borderTop{
  border-top:2px solid black !important;
  border-bottom: none !important;
  border-right: none !important;
  border-left: none !important;
}

.disableAutoHeight{
  height: 700px;
}